.mapSection {
  background: lightgray;

}

.mapFlex {
  //overflow: hidden;
  display: flex;
  .map {
   flex: 2;
  }
  .mapDescription {
    flex: 1;


  }
}



@media screen and (max-width: 500px) {
  .mapFlex {
    display: flex;
    flex-direction: column;
  }

}



path {
  transition: fill 0.5s ease;

  &:hover {
    fill:$kaczkowy!important;
  }
}


.mapSection{
  text-align: center;
  button {
    width: 70%;
    margin: 1rem auto;

    background-color: rgba(61,61,61,9.5);
    border-radius: 3px;
    color: white;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    a {
     font-size: 1.6rem;
    }
  }

  h4 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    padding-bottom: 20px;
  }
  .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
  }

  button:hover {
    outline: none;
    background-color: #60862E;
    transition: 0.1s;
  }

  button:active {
    border: 2px solid #364212;
  }

}

.mapDescription {
  h3 {
    font-size: 1.7rem;
    padding: 10px;
  }
h5 {
  font-size: 1.2rem;
  padding: 10px;
}
  p {
    padding: 6px 12px;
  }
}