


.rozwin {
    color: gray;
    margin: 15px 0;
    cursor: pointer;
    color: black;
    


    // &:hover {
    //     color: black;
    // }

    
}


.random_route_list {
    li {
        margin-top: 25px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}




