


.rozwin {
    color: gray;
    margin: 15px 0;
    cursor: pointer;
    color: black;
   
}


.random_route_list {

    margin-bottom: 20px;
    li {
        margin-top: 25px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}




