.search {
  display: flex;
  justify-content: space-between;
  &_form {
    flex: 1;
    margin-right: 10px;
  }
  &_results {
    flex: 3;
  }
}

.result {
  margin: 20px 10px;
  background-color: $grayopacity03;
  text-decoration: none;
  padding: 1em;
  transition: transform .2s;
  &:hover {
    background-color: $grayopacity07;
    transform: scale(1.03);
  }
  &:active {
    border: 2px solid $navbar;

  }

  h3{
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }

  p {
   line-height: 2rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .search {
    display: flex;
    flex-direction: column;

    }
  }

.search_form {
  label {
    display: block;
  }

}